@use '../../styles/variables' as vars;

.gauge {
    display: inline-block;
    border-radius: 9999px;
}

.svg {
display: block;
}

.back {
fill: vars.$blue-light; /* fondo circular */
}

.track {
stroke: #d9e2ea; /* gris claro */
opacity: 0.9;
}

.inner {
fill: #f0f8ff; /* mismo fondo interior */
}

.labels {
font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.label {
font-size: 12px;
font-weight: 500;
fill: vars.$blue-base; /* texto secundario */
opacity: 0.9;
}

.valueText {
font-size: 32px;
font-weight: 700;
letter-spacing: 0.5px;
fill: vars.$blue-base; /* texto principal */
}

.unit {
font-size: 18px;
font-weight: 600;
fill: vars.$blue-base;
opacity: 0.9;
}
