@use '../../styles/variables' as vars;

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
}

.title {
    font-size: 2rem;
    font-weight: 600;
    color: vars.$blue-dark;
}